.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    max-width: 300px;
    gap: 10px;
}

.list {
    border: 2px solid rgb(0, 0, 0);
}